<h1>Tasks</h1>

<h2>To Do</h2>



<ul>
    {% for task in tasks %}
        {% if task.complete == False %}
            <li><a href="{% url 'task' task.id %}">{{ task.description }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

<form action="{% url 'todo_list' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="create" value="Create" />
</form>

<h2>Completed</h2>

<ul>
    {% for task in tasks %}
        {% if task.complete == True %}
        <li>
            <a href="{% url 'task' task.id %}">{{ task.description }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>

<a href="{% url 'note' %}">Notes Page</a>